
<div class="daycalendar" id= "daycalendar" data-task=" {{days|length}} ">

  <div class="outer">
      
    <table>
      <thead>
        <tr>
          <th class="headcol"></th>
          {% for day in days %}
          <th colspan="4">{{ weekdays_headers ~ ", " ~ days[0].day }}</th>
          {% endfor %}
        </tr>
        <tr>
            <th class="headcol"></th>
            <th>TC1</th>
            <th>TC2</th>
            <th>TC3</th>
            <th>TC4</th>
        </tr>
      </thead>
    </table>
    
    <div class="wrap">
      <table class="offset" id="dayTable">
  
      <tbody>
        {% for day in days %}
          {% for hour in hours %}
          <tr id={{hour}} data-day="{{days[0].day}}" data-count="{{ hours[loop.index - 1]}}">
            <td class="headcol" data-hour="{{ hour }}">{{hour}}</td>
            {% set thisHourTasks = tasks|selectattr("start_time", "equalto", hour)|list %}
            {% if thisHourTasks|length > 0 %}
              {% set total = namespace(Courts = 0) %}
              
              <!-- TC1 -->
              {% if thisHourTasks|selectattr("TC1","equalto",1)|list|length > 0 %}
                {% for task in thisHourTasks|selectattr("TC1","equalto",1) %}
                  {% set courts = task["TC1"]+task["TC2"]+task["TC3"]+task["TC4"] %}
                  {% set total.Courts = total.Courts + courts %}
                  <td data-courtNo="1"
                  class="training" id="training"
                  rowspan="{{ task["duration"]}}"
                  colspan="{{ courts }}"
                  data-year="{{ day.year }}"
                  data-month="{{ day.month }}"
                  data-day="{{ day.day }}"
                  data-hour="{{ hour }}"
                  data-id="{{ task["id"] }}"
                  {% if "repetition_type" in task %}data-recurrent="1"{% endif %}>
                  {{ task["name"] }}
                  </td>
                {% endfor %}
              {% else %}
                <td data-courtNo="1" data-hour="{{ hour }}">1</td>
              {% endif %}
              
              <!-- TC2 -->
              {% if thisHourTasks|selectattr("TC2","equalto",1)|list|length > 0 and total.Courts < 2 %}
                {% for task in thisHourTasks|selectattr("TC2","equalto",1) %}
                  {% set courts = task["TC1"]+task["TC2"]+task["TC3"]+task["TC4"] %}
                  {% set total.Courts = total.Courts + courts %}
                  <td data-courtNo="2"
                  class="training" id="training"
                  rowspan="{{ task["duration"]}}"
                  colspan="{{ courts }}"
                  data-year="{{ day.year }}"
                  data-month="{{ day.month }}"
                  data-day="{{ day.day }}"
                  data-hour="{{ hour }}"
                  data-id="{{ task["id"] }}"
                  {% if "repetition_type" in task %}data-recurrent="1"{% endif %}>
                  {{ task["name"] }}
                  </td>
                {% endfor %}
              {% endif %}
              <!-- if totalCourts >= 2, column needs to be skipped -->
              <!-- if length == 0, empty cell -->
              {% if thisHourTasks|selectattr("TC2","equalto",1)|list|length == 0 and total.Courts < 2 %}
                <td data-courtNo="2" data-hour="{{ hour }}">2</td>
              {% endif %}
              
              <!-- TC3 -->
              {% if thisHourTasks|selectattr("TC3","equalto",1)|list|length > 0 and total.Courts < 3 %}
                {% for task in thisHourTasks|selectattr("TC3","equalto",1) %}
                  {% set court_count = [] %}
                  {% do court_count.append(0) %}
                  {% set courts = task["TC1"]+task["TC2"]+task["TC3"]+task["TC4"] %}
                  {% set total.Courts = total.Courts + courts %}
                  <td data-courtNo="3"
                  class="training" id="training"
                  rowspan="{{ task["duration"]}}"
                  colspan="{{ courts }}"
                  data-year="{{ day.year }}"
                  data-month="{{ day.month }}"
                  data-day="{{ day.day }}"
                  data-hour="{{ hour }}"
                  data-id="{{ task["id"] }}"
                  {% if "repetition_type" in task %}data-recurrent="1"{% endif %}>
                  {{ task["name"] }}
                  </td>
                {% endfor %}
              {% endif %}
              <!-- if totalCourts >= 3, column needs to be skipped -->
              <!-- if length == 0, empty cell -->
              {% if thisHourTasks|selectattr("TC3","equalto",1)|list|length == 0 and total.Courts < 3 %}
                <td data-courtNo="3" data-hour="{{ hour }}">3</td>
              {% endif %}
              
              <!-- TC4 -->
              {% if thisHourTasks|selectattr("TC4","equalto",1)|list|length > 0 and total.Courts < 4 %}
                {% for task in thisHourTasks|selectattr("TC4","equalto",1) %}
                  {% set court_count = [] %}
                  {% do court_count.append(0) %}
                  {% set courts = task["TC1"]+task["TC2"]+task["TC3"]+task["TC4"] %}
                  {% set total.Courts = total.Courts + courts %}
                  <td data-courtNo="4"
                  class="training" id="training"
                  rowspan="{{ task["duration"]}}"
                  colspan="{{ courts }}"
                  data-year="{{ day.year }}"
                  data-month="{{ day.month }}"
                  data-day="{{ day.day }}"
                  data-hour="{{ hour }}"
                  data-id="{{ task["id"] }}"
                  {% if "repetition_type" in task %}data-recurrent="1"{% endif %}>
                  {{ task["name"] }}
                  </td>
                {% endfor %}
              {% endif %}
              <!-- if totalCourts = 4, column needs to be skipped -->
              <!-- if length == 0, empty cell -->
              {% if thisHourTasks|selectattr("TC4","equalto",1)|list|length == 0 and total.Courts < 4 %}
                <td data-courtNo="4" data-hour="{{ hour }}">4</td>
                <script> console.log("TC4 leer ")</script>
              {% endif %}

            <!-- no tasks in that hour -->
            {% else %}
              <td data-courtNo="1" data-hour="{{ hour }}">1</td>
              <td data-courtNo="2" data-hour="{{ hour }}">2</td>
              <td data-courtNo="3" data-hour="{{ hour }}">3</td>
              <td data-courtNo="4" data-hour="{{ hour }}">4</td>
              
            {% endif %}
          </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </div>
  
  </div>
  
</div>

<script>
    
    function deleteSpannedCells(table, event) {
        // delete cells which are spanned by a longer event
            var myRowIndex = event.parentNode.rowIndex ;
            var myRow = table.rows[myRowIndex];

            //delete rowspans (in next row)
            if ( event.rowSpan > 1 ) {
                
                for( var row = 1; row < event.rowSpan; row++) {
                        var nextrowIndex = event.parentNode.rowIndex + row;
                        var nextrow = table.rows[nextrowIndex];
                        var cellCount = nextrow.cells.length;
                        if (cellCount == 5) {
                            var cell = parseInt(event.getAttribute("data-courtNo"))
                        }
                        else {
                            var cell = parseInt(event.getAttribute("data-courtNo")) - ( 5 - cellCount)
                        }
                        //var cell = Math.min( parseInt(spanEvents[i].getAttribute("data-courtNo")) , nextrow.cells.length - 1)  ;

                        //console.log(nextrow.cells[cell].getAttribute("data-rest"));
                        for (col = 0; col < event.colSpan; col++){
                            //cell = cell + col;
                            console.log( nextrow.id + "training: " + event.getAttribute("data-id") + " loop: "+ row + " delete cell: " + cell + " / " + nextrow.cells.length);
                            nextrow.deleteCell(cell);
                        }
                }
            }
        };

    window.onload = function() {
        console.log('Dokument geladen');
        var table = document.getElementById("dayTable");
        var events = document.getElementsByTagName("td");
        for ( court = 1; court <= 4; court++) {
            for ( i = 0; i < events.length; i++) {
                if (events[i].getAttribute("data-courtNo")==court) {
                    deleteSpannedCells(table, events[i]);
                }
            }
        }
    };

    // event delegation
    document.getElementById("daycalendar").onclick = function(eventData) {
        console.log("any onclick event");
        
        if (eventData.target.nodeName === "TD" && eventData.target.className != "training") {
            if (++clicksCounter == 1) {
                // Single click behaviour (nothing)
                clicksTimeout = setTimeout(function() { clicksCounter = 0; }, 300);
            } else {
                clearTimeout(clicksTimeout);
                clicksCounter = 0;
                var newTaskDay = eventData.target.parentNode.getAttribute("data-day");
                var start = eventData.target.getAttribute("data-hour");
                window.location = "/{{ calendar_id }}/{{ year }}/{{ month }}/{{ view }}/new_task?day=" + newTaskDay + "&start=" + start;
            }
            return;
        }
    };


    function debug() {
        console.log("debug");
    };

</script>
