<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {% if editing %}
            Training bearbeiten
        {% else %}
            Neues Training
        {% endif %}
    </title>
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for("static", filename="favicon.ico") }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    {% if editing %}
        <form autocomplete="off" method="POST" onsubmit="return validate();"
            action="{{ base_url }}/{{ calendar_id }}/{{ year }}/{{ month }}/{{ day }}/task/{{ task.get("id") }}">
    {% else %}
        <form autocomplete="off" method="POST" onsubmit="return validate();" action="{{ base_url }}/{{ calendar_id }}/{{ view }}/new_task">
    {% endif %}
    <div id="task-details-form" class="task-details-form">

        <label for="text">Name</label>
        <input type="text" autocomplete="off" tabindex="0" placeholder="Training Titel" value="{{ task.get("name", "") }}"
            id="title" name="title" minlength="2" required />
        <br/>
        
        <label for="date_picker">Datum</label>
        <input id="date_picker" type="date" value="{{ task["date"] }}">
        <input type="hidden" id="date" name="date" value="{{ task["date"] }}" required />
        <br/>

        <div id="start_time_block">
            <label for="start_time">Beginn</label>
            <input type="time" id="start_time" name="start_time" value="{{ task.get("start_time", "00:00") }}" />
            <br/>
            <label for="end_time">Ende</label>
            <input type="time" id="end_time" name="end_time" value="{{ task.get("end_time", "00:00") }}" />
            <br/>
        </div>
        
        <label for="court1">TC1</label>
        <input type="checkbox" id="TC1" name="TC1" value="{{ task.get("TC1", 0) }}"
        {% if task["TC1"] == 1%}
            checked="checked"
        {% endif %}/>
        <label for="court2">TC2</label>
        <input type="checkbox" id="TC2" name="TC2" value="{{ task.get("TC2", 0) }}"
        {% if task["TC2"] == 1 %}
            checked="checked"
        {% endif %}/>
        <label for="court3">TC3</label>
        <input type="checkbox" id="TC3" name="TC3" value="{{ task.get("TC3", 0) }}"
        {% if task["TC3"] == 1 %}
            checked="checked"
        {% endif %}/>
        <label for="court4">TC4</label>
        <input type="checkbox" id="TC4" name="TC4" value="{{ task.get("TC4", 0) }}"
        {% if task["TC4"] == 1 %}
            checked="checked"
        {% endif %}/>
        <br/>

        <label for="repeats">Wiederholend</label>
        <input type="checkbox" id="repeats" name="repeats" value="{{ task["repetition_id"] }}"
            {% if task["repetition_id"] != "0" %}
                checked="checked"
            {% endif %}
            />
        <div id="repetition_block"
            {% if task["repetition_id"] == "0" %}
                class="hidden"
            {% endif %}
             >

            <label for="repetition_value_weekday" style="font-size:10px;">wöchentlich am </label>
            </br>
            {% for weekday in ["Montag", "Dienstag", "Mittwoch", "Donnerstag", "Freitag", "Samstag", "Sonntag"] %}
                <label for="{{weekday}}" style="font-size:10px;">{{weekday}}</label>
                <input type="checkbox" id="{{weekday}}" name="{{weekday}}" value="{{ (loop.index)|string }}"
                    {% if (loop.index)|string in task["repetition_id"]|string %}
                        checked="checked"
                    {% endif %}/>
            {% endfor %}
            </br>
            
            <label for="date_picker2" style="font-size:10px;">bis zum</label>
            <input id="date_picker2" type="date" value="{{ task.get("repetition_end_date") }}">
            <input type="hidden" id="repetition_end_date" name="repetition_end_date" value="{{ task.get("repetition_end_date") }}" required />
            <br/>
            
        </div>
        
        <label for="text">Trainer</label>
        <input type="email" autocomplete="off" tabindex="0" placeholder="trainer@leipziger-tennisschule.de" value="{{ task.get("coach", "") }}"
            id="coach" name="coach" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" multiple/>
        <br/>
        
        <label for="max_participants">Max. Teilnehmer</label>
        <input type="int" tabindex="0" placeholder="" value="{{ task.get("max_participants", 0) }}"
            id="max_participants" name="max_participants"/>
        <br/>
        
        <label for="act_participants">Aktuelle Teilnehmeranzahl</label>
        <input type="int" tabindex="0" placeholder="" value="{{ task.get("act_participants", 0) }}"
            id="act_participants" name="act_participants"/>
        <div id="participants_block" class="hidden">
            <label for="email">Teilnehmer E-Mail Adressen:</label>
            <input type="email" name="email" id="email" multiple="true"/>
        </div>
        <br/>
        
        <label for="price">Preis in €</label>
        <input type="float" tabindex="0" placeholder="00.00" value="{{ task.get("price", "") }}"
            id="price" name="price"/>
        <br/>

        <label for="details">Details</label><br/>
        <textarea id="details" name="details" placeholder="Details" autocomplete="off" cols="42"
            rows="8">{{ task["details"]|replace("<br>","\n") }}</textarea>
        <br/>

        <div id="colors-and-emojis">
            <label for="color">Color</label><br/>
            <input class="form-button color-picker" type="color"
                value="{{ task.get("color", button_default_color_value) }}" id="color_custom" />
            {% for color, label in buttons_colors %}
                <input class="form-button color" style="color:{{ color }}" data-color="{{ color }}" type="button"
                    value="{{ label }}" />
            {% endfor %}
            <input type="hidden" value="{{ task.get("color", button_default_color_value) }}" id="color" name="color" />
            <br/>

            {% if emojis_enabled %}
                {% for emoji in buttons_emojis %}
                    <input class="form-button emoji" type="button" value="{{ emoji }}" />
                {% endfor %}
                <br/>
            {% endif %}
        </div>

        <input class="form-button" type="submit" value="Save" />

        <input class="form-button" id="delete-task" type="button" value="Delete" />

        <input class="form-button" type="button" value="Cancel" onclick="window.history.go(-1); return false;" />
    </div>
    </form>

<script type="text/javascript">
    
    const editing = {% if editing %}true{% else %}false{% endif %};
    const currentRepetitionValue = {{ task.get("repetition_id", "0") }};

    if (editing === true) {
        document.getElementById("repetition_id").value = currentRepetitionValue;
        if (currentRepetitionValue != "0") {
            // week days are 1-index
            //document.getElementById("Montag").value = currentRepetitionValue;
        }
        document.getElementById("date_picker2").disabled = false;
    } else {
        document.getElementById("delete-task").disabled = true;
    }

    select_repetition_value_weekday = function(resetRepetitionValue = false) {
        document.getElementById("Montag").disabled = false;
        document.getElementById("Dienstag").disabled = false;
        document.getElementById("Mittwoch").disabled = false;
        document.getElementById("Donnerstag").disabled = false;
        document.getElementById("Freitag").disabled = false;
        document.getElementById("Samstag").disabled = false;
        document.getElementById("Sonntag").disabled = false;
        //document.getElementById("repetition_value_weekday").selectedIndex = 1;
    };

    select_type_weekly = function() {
        select_repetition_value_weekday();
    };

    window.onload = function() {
                document.getElementById("start_time_block").className = "";
        };

        document.getElementById("start_time").onchange = function(eventData) {
            document.getElementById("end_time").value = eventData.target.value;
        }

        document.getElementById("repeats").onclick = function(eventData) {
            if (eventData.target.checked === true) {
                eventData.target.value = "";
                document.getElementById("date_picker2").disabled = false;
                document.getElementById("repetition_block").className = "";
                select_type_weekly();
            }else {
                eventData.target.value = "0";
                document.getElementById("date_picker2").disabled = true;
                document.getElementById("repetition_block").className = "hidden";
            }
        };

        document.getElementById("date_picker").onchange = function(eventData) {
            document.getElementById("date").value = eventData.target.value;
        };

        document.getElementById("date_picker2").onchange = function(eventData) {
            console.log(document.getElementById("repetition_end_date").value);
            document.getElementById("repetition_end_date").value = eventData.target.value;
            console.log(document.getElementById("repetition_end_date").value);
        };

        document.getElementById("color_custom").onchange = function(eventData) {
            document.getElementById("color").value = eventData.target.value;
        };

        document.getElementById("TC1").onclick = function(eventData) {
            console.log("Value TC1: "+ document.getElementById("TC1").value + "," + eventData.target.checked);
            if (eventData.target.checked === true) {
                document.getElementById("TC1").value = 1
            }else{
                document.getElementById("TC1").value = 0
            };
            console.log("Value TC1: "+ document.getElementById("TC1").value);
        };

        document.getElementById("TC2").onclick = function(eventData) {
            console.log("Value TC2: "+ document.getElementById("TC2").value);
             if (eventData.target.checked === true) {
                 eventData.target.value = 1;
             }else{eventData.target.value = 0; }
             console.log("Value TC2: "+ document.getElementById("TC2").value);
        };

        document.getElementById("TC3").onclick = function(eventData) {
            if (eventData.target.checked === true) {
                eventData.target.value = 1;
            }else{eventData.target.value = 0; }
        };

        document.getElementById("TC4").onclick = function(eventData) {
            if (eventData.target.checked === true) {
                eventData.target.value = 1;
            }else{eventData.target.value = 0; }
        };

        document.getElementById("act_participants").onchange = function(eventData) {
            document.getElementById("participants_block").className = "";
            if (eventData.target.value == 0 ){
                document.getElementById("participants_block").className = "hidden";
            }
        };

        document.getElementById("email").onchange = function(eventData) {
          console.log(document.getElementById("email").value);
          document.getElementById("email").value = eventData.target.value;
          console.log(document.getElementById("email").value);
        };

        document.getElementById("colors-and-emojis").onclick = function(eventData) {
            if (eventData.target.nodeName === "INPUT") {
                switch (eventData.target.className) {
                    case "form-button color":
                        document.getElementById("color").value = eventData.target.getAttribute("data-color");
                        document.getElementById("color_custom").value = eventData.target.getAttribute("data-color");
                        return false;
                        break;
                    case "form-button emoji":
                        let titleTextbox = document.getElementById("title");
                        titleTextbox.value = eventData.target.value + " " + titleTextbox.value;
                        break;
                    default:
                        return;
                }
            }

            return;
        };

        document.getElementById("delete-task").onclick = function() {
            if (confirm("Remove task '" + document.getElementById("title").value +  "'?") === true) {
                fetch("{{ base_url }}/{{ calendar_id }}/{{ year }}/{{ month }}/{{ day }}/{{ task.get("id") }}/",
                    {
                    method: "delete",
                    credentials: "include"
                    })
                .then(response => {
                    if (response.status === 200) {
                        window.location = "{{ base_url }}/{{ calendar_id }}/?y={{ year }}&m={{ month }}";
                    }
                });
            }
        };

        function validate() {
            var court_count = document.getElementById("TC1").value + document.getElementById("TC2").value + document.getElementById("TC3").value + document.getElementById("TC4").value;
            if ( court_count == 0 ){
                alert("Bitte einen freien Platz wählen.");
                document.getElementById("TC1").focus();
                return false;
            }else {
                return true;
            }
        };
    
</script>
</body>
</html>
