<div class="weekcalendar" id="weekcalendar">

  <!-- calendar header -->
  <div class="calendar-header-week">
      {% for day in days %}
          {% if day == "" %}
              <div class="filler"></div>
          {% else %}
              <div class="day-week">{{ day }}</div>
          {% endif %}
      {% endfor %}
  </div>
  
  <!-- calendar content; row count depending on business hours array -->
  <div class="content" style="{{ "grid-template-rows: repeat(" ~ hours|length ~ ", 3em)" }}">
        <!-- fill first column with business hours -->
        {% for hour in hours %}
            <div class="weektime" style={{ "grid-row:" + (loop.index)|string }}>{{ hour }} </div>
        {% endfor %}
        <div class="filler-col"></div>
        <!-- initialize week columns -->
        {% for i in range(7) %}
            <div class="col" style="grid-column:{{i+2}}"></div>
        {% endfor %}
        <!-- initialize rows; count depending on business hours array -->
        {% for i in range((hours|length)) %}
            <div class="row" style="grid-row:{{ i }}"></div>
        {% endfor %}
        
        <!-- load training data -->
        {% for day in days %}
            {% if day.month|string in tasks and day.day|string in tasks[day.month|string] %}
                {% for task in tasks[day.month|string][day.day|string]|sort(attribute="start_time") %}
                <div class ="training calendar1"
                    data-year="{{ day.year }}"
                    data-month="{{ day.month }}"
                    data-day="{{ day.day }}"
                    data-id="{{ task["id"] }}"
                    {% if "repetition_type" in task %}data-recurrent="1"{% endif %}
                    style="grid-column:{{ ((days[loop.index])|int - 3) }};grid-row:
                    {{ task["start_time"] | calendar_row}}/span
                    {{ task["end_time"] |calendar_span(task["start_time"]) }}">
                    {{ task["title"] + task["start_time"] + task["details"]}}
                </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
