body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1em/1.4;
    color: #222;
    background-color: #FCFCFC;
}

li {
    list-style: none;
}

.header {
    display: inline;
}

.header .current-date {
    color: #444;
    display: inline;
    font-weight: 700;
    font-size: 1.5em;
    padding-left: 6px;
    padding-right: 6px;
    min-width: 25%;
}

.header .btn-group {
    padding: 0;
    margin-top: 5px;
  }

.btn-group {
  float: right;
  display: inline-block;
  *display: inline;
  *margin-left: .3em;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  *zoom: 1;
}

button.btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

/* btn-view {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
} /*

/* Style the buttons */
.btn-view {
  border: none;
  outline: none;
  *padding-top: 3px;
  *padding-bottom: 3px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Style the active class (and buttons on mouse-over) */
.active, .btn:hover {
  background-color: #666;
  color: white;
}

.header .back-to-current {
    display: inline;
    color: #444;
    font-size: 1.25em;
    font-weight: 700;
}

.header .back-to-current a {
    color: #444;
    text-decoration: underline;
}

.header a {
    text-decoration: none;
}

.header-button {
    padding: 1px;
    font-size: 14px;
    font-weight: 700;
}

.button {
    font-size: 1.3em;
    font-weight: 700;
    padding: 3px 6px 3px 6px;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 2px;
    text-decoration: none;
}

.form-button {
    padding: 1px;
    margin-top: 9px;
    margin-right: 3px;
}

.color-picker {
    padding: 0;
}

.smaller {
    padding: 0px 3px 2px 3px;
    font-size: 12px;
}

.toggle-past-events {
    float: right;
}

.remove-task {
    color: #F7F7F7;
    background-color: #FF6B6B;
    margin-right: 2px;
    float: right;
}

.hide-recurrent-task {
    color: #F7F7F7;
    background-color: #556270;
    margin-right: 2px;
    float: right;
}

.recurrent-task {
    color: #F7F7F7;
    background-color: #4ECDC4;
    margin-right: 2px;
    float: right;
}

.edit-task {
    color: #F7F7F7;
    background-color: #79BD9A;
    margin-right: 2px;
    float: right;
}

.calendar-header {
  padding: 0;
  margin-top: 5px;
  margin-bottom: 0;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  min-width: 400px;
  border-left: #DADCE0 1px solid;
  /*background: #f3f2f1;
  display: grid;
  place-content: center;
  text-align: center;
  grid-template-columns: 3em 10px repeat(7, 1fr);
  position: sticky;
  top: 3em;
  z-index: 10;
  border-bottom: 2px solid #dadce0;*/
}

.weekday-header {
  text-align: center;
  place-content: center;
  background-color: #F6F6F6;
  color: #666;
  padding: 3px;
  margin: 0;
  list-style:none;
  flex-grow: 1;
  flex-basis: 12%;
  overflow: auto;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  border-top: #DADCE0 1px solid;
  border-right: #DADCE0 1px solid;
  border-bottom: 0px;
  /*border-left: 1px solid #dadce0;*/
}

.calendar {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    min-width: 400px;
    border-bottom: #DADCE0 1px solid;
    border-left: #DADCE0 1px solid;
}

.day {
  background-color: #F9F9F9;
  padding: 3px;
  margin: 0;
  min-height: 120px;
  list-style:none;
  flex-grow: 1;
  flex-basis: 13.5%;
  overflow: auto;
  box-sizing: border-box;
  cursor: pointer;
  border-top: #DADCE0 1px solid;
  border-right: #DADCE0 1px solid;
  border-bottom: 0px;
}

.task.greyed {
    background-color:#B8B8B8 !important;
}

.othermonth {
  background-color: #F3F3F3;
  cursor: auto;
}

span.time {
    font-size: 9px;
}

span.daynumber {
    font-size: 13.5px;
    font-weight: 400;
    color: #666;
    padding: 3px;
}

span.daynumber-current {
    font-size: 13.5px;
    font-weight: 700;
    color: #F7F7F7;
    background-color: #3EB34F;
    padding: 4px;
    border-radius: 12px;
}

.othermonth span.daynumber {
    color: #777774;
}

ul.tasks {
    font-weight: 400;
    font-size: 12px;
    margin: 1px;
    margin-top: 3px;
    padding: 0;
}

ul.tasks li {
    background-color: #444;
    color: #FEFEFE;
    margin-bottom: 1px;
    padding: 1px 4px 2px 2px;
    cursor: pointer;
    border-radius: 2px;
}

ul.tasks li a {
    color: #F0F0F0;

}

.accordion-hidden {
    height: 0;
    overflow: hidden;
    margin: 0;
}

.accordion-visible {
    border-top: 1px dashed #CCC;
    margin: 0;
    padding: 0 0 2px 0;
}

.hidden {
    height: 0;
    overflow: hidden;
    margin: 0;
    visibility: hidden;
}

.task-details-form label {
    font-weight: 700;
    margin-top: 6px;
}

#statusbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 26px;
    z-index: 4000000;
    visibility: hidden;
    font-weight: 700;
    text-align: center;
}

.processing {
    visibility: visible !important;
    color: #F7F7F7;
    background-color: #A1D360;
}

.error {
    visibility: visible !important;
    color: #F7F7F7;
    background-color: #EB5A46;
}

@media screen and (max-width:650px) {

    .header-button {
        font-size: 18px;
        padding: 4px;
    }

    .header .current-date {
        font-size: 0.85em;
        padding-left: 3px;
        padding-right: 3px;
    }

    .header .back-to-current {
        font-size: 0.60em;
    }

    .day {
        min-height: 30px;
    }

    ul.tasks li a, span.recurrent-task {
        padding: 3px 4px 3px 4px;
        min-width: 8px;
        text-align: center;
        min-height: 8px;
    }
}

/* ---------------------*/
/* month view specifics */
/* ---------------------*/


/* ---------------------*/
/* week view specifics  */
/* ---------------------*/

.weekcalendar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  position: absolute;
  border: 2px solid #dadce0;
}

.weekcalendar .calendar-header-week {
    background: #f3f2f1;
    grid-column: 2/9;
    grid-row: 1;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    text-align: center;
    top: 3em;
    border-bottom: 2px solid #dadce0;
}

.filler {
  display: grid;
  grid-row: 1;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  border-right: 1px solid #dadce0;
}

.day-week {
    display: grid;
    grid-row: 1;
    border-right: 1px solid #dadce0;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
}

.weekcalendar .timeline {
    display: grid;
    grid-column: 1;
    grid-template-columns: 1fr 5px;
    grid-template-rows: subgrid;
}

.weekcalendar .content {
  display: grid;
  grid-column: 2/9;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  /*border: 1px solid #dadce0; */
  /*top: 3em;*/
}

.weektime {
 /* display: grid; */
  grid-column: 1;
  text-align: right;
  align-self: end;
  font-size: 80%;
  position: relative;
  bottom: -1ex;
  color: #70757a;
  padding-right: 2px;
  /*grid-template-columns: subgrid;
  grid-template-rows: subgrid;*/
}

.weekcalendar .col {
  border-right: 1px solid #dadce0;
  display: grid;
  /*grid-column: 1;*/
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  cursor: pointer;
}

.court {
    border-right: 1px solid #dadce0;
    display: grid
    grid-column: span 1;
    grid-template-columns: subgrid;
}

.filler-col {
  display: grid;
  grid-column: 2;
  border-right: 1px solid #dadce0;
  grid-template-rows: subgrid;
  background: #f3f2f1;
}

.weekcalendar .row {
  display: grid;
  grid-column: 2/9;
  border-bottom: 1px solid #dadce0;
  cursor: pointer;
}

.training {
  background-color: #d7dbef;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 80%;
  cursor: pointer;
}

.calendar1 {
  background-color: #d7dbef;
  border-color: #bcc3e5;
}

.training a {
    color: #F0F0F0;

}


/* ---------------------*/
/* day view specifics  */
/* ---------------------*/

.daycalendar {
    margin: 0 auto;
  max-width: 1280px;
  min-width: 500px;

  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.2) ,0px 3px 7px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.secondary {
  color: rgba(0, 0, 0, 0.4);
}

button.secondary {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  padding: 0.5rem 0.75rem;
  font-size: 14px;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: 500;
}

button.secondary:hover {
  background: #fafafa;
}
button.secondary:active {
  box-shadow: none;
}
button.secondary:focus {
  outline: 0;
}

.icon {
  font-size: 1.5rem;
  margin: 0 1rem;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.icon:hover {
  color: red;
}

tbody {
    position: relative;
  top: 100px;
}

table {
  background: #fff;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;

}

.outer {
  position:relative;
}

.headcol {
  width: 60px;
  font-size: 0.875rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  padding: 0.25rem 0;
  text-align: center;
  border: 0;
  position: relative;
  top: -12px;
  border-bottom: 1px solid transparent;
}

thead th {
  font-size: 1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
  padding: 1rem;
}

thead {
    z-index: 2;
    background: white;
    border-bottom: 2px solid #ddd;

}

tr, tr td {
  height: 20px;
}
td {
  text-align: center;
}
tr:nth-child(odd) td:not(.headcol) {
  border-bottom: 1px solid #e8e8e8;
}

tr:nth-child(even) td:not(.headcol) {
  border-bottom: 1px solid #eee;
}

tr td {
  border-right: 1px solid #eee;
  padding: 0;
  white-space: none;
  word-wrap: nowrap;
}

tbody tr td {
  position: relative;
  vertical-align: top;
  height: 40px;
  padding: 0.25rem 0.25rem 0 0.25rem;
  width: auto;

}

td:hover:after {
  content: "+";
  vertical-align: middle;
  font-size: 1.875rem;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.wrap {

  overflow-x: hidden;
  overflow-y: scroll;
    max-width: 1280px;
  height: 500px;
  border-radius: 8px;
}

thead {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

thead th {

  text-align: center;
  width: 100%;

}

.today {
  color: red;
}

.offset {

}
